<section class="w1440 artist pb120">
  <h2 class="pt120 pb120">화가 장욱진</h2>
  <div class="artist-wrap">
    <div class="artist-img"><img src="img/changucc.png" alt="화가 장욱진"></div>
    <div class="artist-txt">
      <p class="ko">화가 장욱진(張旭鎭)은
        박수근과 이중섭, 김환기 등과 함께 한국의 근현대미술을 대표하는 2세대 서양화가이다. 장욱진은 가족이나 나무, 아이, 새 등 일상에서 흔히 볼 수 있는 소박한소재들을 주로 그렸다.
        장욱진은 1947년 김환기, 유영국 등과 <신사실파>를 결성하였는데 ‘사실을 새롭게 보자’라는 주제의식을 가지고 있었다. 신사실파의 철학대로 화가 장욱진은자연 사물들을 그대로 재현하는 것이 아니라
          사물 안에 내재해있는 근원적이고정신적인 본질을 추구하였다. 그렇기에 화가 장욱진의 작품은 단순하면서도대담하다.
          “나는 심플하다”라고 말했던 것처럼 화가 장욱진은 평생을 자연 속에서 심플한삶을 살면서 그림을 통해 동화적이고 이상적인 내면세계를 표현하였다.
      </p>
      <p class="en">Chang Ucchin(1917-1990) is one of representatives of modern Korean fine art like Park Su-geun and
        Lee Jung-seob. Born in Yeongi-gun, Chungcheongnamdo in 1917, he started to study western art at Tokyo's
        Imperial School of Art in 1939 Living with Nature in his lifetime, the painter pursued simple and
        fairytale-like expressions and an unique coloring style. At 74 in 1990, he passed away
      </p>
      <p class="jp">チャン・ウチン(1917-1990)は、パク・スグン、イ・ジョンソプと並んで韓国近代美術を代表する一人です。
        1917年忠清南道燕岐郡に生まれ、1939年東京帝国美術学校で西洋美術を学び始めた。生前は自然とともに生き、素朴でおとぎ話のような表現と独特の彩色を追求した。 1990年74歳で死去
      </p>
    </div>
  </div>
</section>