<!-- 전시 -->
<section class="exhibition_main w1440 pb120">
  <h2 class="pt120 pb120">전시</h2>
  <!-- 전시 서치 박스 action="/exhibition_search"-->
  <form onkeyup="filter1()" method="post" id="exhibition_main_form">
    <select name="exhibition_search_box" id="exhibition_search_box">
      <option value="전시명">전시명</option>
      <option value="전시장소">전시장소</option>
      <option value="상세내용">상세내용</option>
    </select>
    <label for="exhibition_search_txt"></label>
    <input
      type="text"
      name="exhibition_search_txt"
      id="exhibition_search_txt"
      placeholder="검색어를 입력해주세요"
    />
    <input type="submit" value="검색" id="exhibition_search_check" />
  </form>
  <!-- 전시 -->
  <article class="exhibition_list_wrap">
    <p>총 게시물 <span class="red_txt">49</span>개</p>
    <!-- exhibition_list -->
    <div class="exhibition_list">
      <div class="exhibition_list_photo">
        <img src="img/bar1.jpg" alt="photo" />
      </div>
      <div class="exhibition_list_text_box">
        <h5>선善도 악惡도 아닌</h5>
        <div class="exhibition_list_text">
          <span>전시기간</span>
          <span>2023-10-12 ~ 2024-01-08</span>
        </div>
        <div class="exhibition_list_text">
          <span>전시장소</span>
          <span>양주시립장욱진미술관 1층 기획전시실</span>
        </div>
        <div class="exhibition_list_text">
          <span>참여작가</span>
          <span>장욱진, 곽인식, 최상철</span>
        </div>
        <div class="exhibition_list_text">
          <span>관람료</span>
          <span>5000원</span>
        </div>
        <div class="more_box">
          <button type="button">자세히 보기</button>
        </div>
      </div>
    </div>

    <!-- 2 -->
    <div class="exhibition_list">
      <div class="exhibition_list_photo">
        <img src="img/bar2.jpg" alt="photo" />
      </div>
      <div class="exhibition_list_text_box">
        <h5>채움의 방식</h5>
        <div class="exhibition_list_text">
          <span>전시기간</span>
          <span>2023-08-17 ~ 2024-08-20</span>
        </div>
        <div class="exhibition_list_text">
          <span>전시장소</span>
          <span>양주시립장욱진미술관 2층 상설전시실</span>
        </div>
        <div class="exhibition_list_text">
          <span>참여작가</span>
          <span>장욱진</span>
        </div>
        <div class="exhibition_list_text">
          <span>관람료</span>
          <span>5000원</span>
        </div>
        <div class="more_box">
          <button type="button">자세히 보기</button>
        </div>
      </div>
    </div>

    <!-- 3 -->
    <div class="exhibition_list">
      <div class="exhibition_list_photo">
        <img src="img/bar3.jpg" alt="photo" />
      </div>
      <div class="exhibition_list_text_box">
        <h5>2023SIMPLE [비정형의 자유, 정형의 순수]</h5>
        <div class="exhibition_list_text">
          <span>전시기간</span>
          <span>2023-06-21 ~ 2023-09-18</span>
        </div>
        <div class="exhibition_list_text">
          <span>전시장소</span>
          <span>양주시립장욱진미술관 1층 기획전시실</span>
        </div>
        <div class="exhibition_list_text">
          <span>참여작가</span>
          <span>장욱진, 김혜련, 이수인</span>
        </div>
        <div class="exhibition_list_text">
          <span>관람료</span>
          <span>5000원</span>
        </div>
        <div class="more_box">
          <button type="button">자세히 보기</button>
        </div>
      </div>
    </div>

    <!-- 4 -->
    <div class="exhibition_list">
      <div class="exhibition_list_photo">
        <img src="img/bar4.jpg" alt="photo" />
      </div>
      <div class="exhibition_list_text_box">
        <h5>제6회 뉴드로잉 프로젝트</h5>
        <div class="exhibition_list_text">
          <span>전시기간</span>
          <span>2023-03-29 ~ 2023-05-29</span>
        </div>
        <div class="exhibition_list_text">
          <span>전시장소</span>
          <span>양주시립장욱진미술관 1층</span>
        </div>
        <div class="exhibition_list_text">
          <span>참여작가</span>
          <span
            >강정민, 강현신, 김병준, 김소헌, 김유진, 김지민, 오예진,
            유재식,유효진, 윤산, 윤정민, 이승연, 이윤빈, 이준학, 이지안, 이진영,
            이희원, 정유미, 정윤조, 홍예진</span
          >
        </div>
        <div class="exhibition_list_text">
          <span>관람료</span>
          <span>5000원</span>
        </div>
        <div class="more_box">
          <button type="button">자세히 보기</button>
        </div>
      </div>
    </div>

    <!-- 5 -->
    <div class="exhibition_list">
      <div class="exhibition_list_photo">
        <img src="img/bar5.jpg" alt="photo" />
      </div>
      <div class="exhibition_list_text_box">
        <h5>[기획전 연장운영] 꽃이 웃고, 작작 鵲鵲 새가 노래하고</h5>
        <div class="exhibition_list_text">
          <span>전시기간</span>
          <span>2022-12-01 ~ 2023-02-27</span>
        </div>
        <div class="exhibition_list_text">
          <span>전시장소</span>
          <span>양주시립장욱진미술관 기획전시실</span>
        </div>
        <div class="exhibition_list_text">
          <span>참여작가</span>
          <span>장욱진, 김병종, 김보희, 민병헌, 정현</span>
        </div>
        <div class="exhibition_list_text">
          <span>관람료</span>
          <span>5000원</span>
        </div>
        <div class="more_box">
          <button type="button">자세히 보기</button>
        </div>
      </div>
    </div>
  </article>

  <!-- 게시판 paging -->
  <div class="paging pt120" id="notice-paging">
    <ul>
      <li></li>
      <li></li>
      <li class="notice-active">1</li>
      <li class="paging-m">2</li>
      <li class="paging-m">3</li>
      <li class="paging-m">4</li>
      <li class="paging-m">5</li>
      <li class="paging-m">6</li>
      <li class="paging-m">7</li>
      <li class="paging-m">8</li>
      <li></li>
      <li></li>
    </ul>
  </div>
  <div id="topBtn">TOP</div>
</section>

<script src="js/exhibition.js"></script>
<script src="js/collection_view.js"></script>
