<!-- 푸터 -->
<footer>
  <div class="footer_wrap">
    <!--패딩 40 0 보더 탑-->
    <div class="footer_inner w1440">
      <!--max-width 1440-->
      <ul class="footer_nav">
        <li>주소 : [11519] 경기도 양주시 장흥면 권율로 193 </li>
        <li>대표전화 : 031-8082-4245</li>
        <li>관람시간 : 오전 10:00 - 오후 6:00</li>
        <li>입장마감 : 오후 5:00</li>
        <li>휴관일 : 매주 월요일, 1월1일,설날 당일,추석 당일</li>
        <li>COPYRIGHT &copy; 2018 YANGJU CITY. ALL RIGHTS RESERVED</li>
        <li>※ 본 홈페이지에 게시된 이메일 주소 자동수집을 거부하며,<br class="foot_br"> 이를 위반시 정보통신망법에 의해 처벌됨을 유념하시기 바랍니다.</li>
      </ul>
      <div class="footer_logo">
        <img src="img/logo.png" alt="foot_logo">
      </div>
    </div>
  </div>
</footer>