<!-- 헤더 -->
<header>
  <div class="header-top">
    <!--모바일 네브-->
    <div class="m-nav">
      <ul>
        <li class="m-navf"></li>
        <li class="m-navs"></li>
        <li class="m-navt"></li>
      </ul>
    </div>
    <div class="m-lnb">
      <div class="m-lnb-title">
        <h2 class="m-lnb-title-txt">미술관소개</h2>
        <div class="m-lnb-txt-wrap">
          <div class="m-lnb-txt" onclick="javascript:location.href='/viewguide'">관람안내</div>
          <div class="m-lnb-txt" onclick="javascript:location.href='/space'">전시공간 소개</div>
          <div class="m-lnb-txt" onclick="javascript:location.href='/map'">오시는 길</div>
        </div>
      </div>
      <div class="m-lnb-title">
        <h2 class="m-lnb-title-txt">화가장욱진</h2>
        <div class="m-lnb-txt-wrap">
          <div class="m-lnb-txt" onclick="javascript:location.href='/artist-chang'">장욱진 소개</div>
        </div>
      </div>
      <div class="m-lnb-title">
        <h2 class="m-lnb-title-txt">전시</h2>
        <div class="m-lnb-txt-wrap">
          <div class="m-lnb-txt" onclick="javascript:location.href='/exhibition'">전시안내</div>
        </div>
      </div>
      <div class="m-lnb-title">
        <h2 class="m-lnb-title-txt">소장품</h2>
        <div class="m-lnb-txt-wrap">
          <div class="m-lnb-txt" onclick="javascript:location.href='/collection'">소장품안내</div>
        </div>
      </div>
      <div class="m-lnb-title">
        <h2 class="m-lnb-title-txt">열린마당</h2>
        <div class="m-lnb-txt-wrap">
          <div class="m-lnb-txt" onclick="javascript:location.href='/notice-main'">공지사항</div>
          <div class="m-lnb-txt" onclick="javascript:location.href='/notice-main'">교육프로그램</div>
          <div class="m-lnb-txt" onclick="javascript:location.href='/notice-main'">언론보도</div>
        </div>
      </div>
      <div class="m-lnb-title">
        <h2 class="m-lnb-title-txt">예약하기</h2>
        <div class="m-lnb-txt-wrap">
          <div class="m-lnb-txt" onclick="javascript:location.href='/rev_main'">온라인예약/예매</div>
          <div class="m-lnb-txt" onclick="javascript:location.href='/rev_main'">예매내역 조회</div>
        </div>
      </div>
      <ul>
        <li><a href="/rev_login">로그인</a></li>
        <li><a href="/rev_join">회원가입</a></li>
      </ul>
    </div>
    <h1><a href="/"><img src="img/logo.png" alt="메인페이지"></a></h1>
    <ul>
      <li><a href="/rev_login">로그인</a></li>
      <li><a href="/rev_join">회원가입</a></li>
      <li><a href=""><img src="img/youtube.png" alt="유튜브"></a></li>
      <li><a href=""><img src="img/facebook.png" alt="페이스북"></a></li>
      <li><a href=""><img src="img/instagram.png" alt="인스타"></a></li>
    </ul>
    <div class="blank"></div>
  </div>
  <div class="header-bot w1440">
    <div id="gnb_bg"></div>
    <ul class="gnb">
      <li><a href="/viewguide">미술관소개</a>
        <div class="gnb-lnb-wrap">
          <ul class="gnb_lnb">
            <li><a href="/viewguide">관람안내</a></li>
            <li><a href="/space">전시공간 소개</a></li>
            <li><a href="/map">오시는길</a></li>
          </ul>
        </div>
      </li>
      <li><a href="/artist-chang">화가장욱진</a>
        <div class="gnb-lnb-wrap">
          <ul class="gnb_lnb">
            <li><a href="/artist-chang">장욱진 소개</a></li>
          </ul>
        </div>
      </li>
      <li><a href="/exhibition">전시</a>
        <div class="gnb-lnb-wrap">
          <ul class="gnb_lnb">
            <li><a href="/exhibition">전시 안내</a></li>
          </ul>
        </div>
      </li>
      <li><a href="/collection">소장품</a>
        <div class="gnb-lnb-wrap">
          <ul class="gnb_lnb">
            <li><a href="/collection">소장품 안내</a></li>
          </ul>
        </div>
      </li>
      <li><a href="/notice-main">열린마당</a>
        <div class="gnb-lnb-wrap">
          <ul class="gnb_lnb">
            <li><a href="/notice-main">공지사항</a></li>
            <li><a href="/notice-main">교육프로그램안내</a></li>
            <li><a href="/notice-main">언론보도</a></li>
          </ul>
        </div>
      </li>
      <li><a href="/rev_main">예약하기</a>
        <div class="gnb-lnb-wrap">
          <ul class="gnb_lnb">
            <li><a href="/rev_main">예약/예매하기</a></li>
            <li><a href="/rev_login">예매내역확인</a></li>
          </ul>
        </div>
      </li>
    </ul>

  </div>
  <hr>

</header>