<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>메인페이지 알립니다, 소장품</title>
  <link rel="stylesheet" href="css/common/reset.css" />
  <!-- js 스와이퍼 css -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />
  <!-- 구글폰트 -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="css/common.css" />
  <link rel="stylesheet" href="css/sub.css" />
  <!-- 폰트어썸 -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
</head>

<body>
  <!-- 헤더 -->
  <div id="header"><%- include('header') %></div>

  <!-- 메인 -->
  <main><%- body %></main>

  <!-- 풋터 -->
  <div id="footer"><%- include('footer') %></div>

  <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
  <script src="js/notice-main.js"></script>
  <script src="js/main.js"></script>
  <!-- <script src="js/rev_join.js"></script> -->
  <!-- <script src="js/rev_Datail.js"></script> -->
  <!-- <script src="js/rev_main.js"></script> -->
</body>

</html>