<!--메인 section 1 스와이퍼-->
<section>
  <div class="swiper mySwiper1">
    <div class="swiper-wrapper">
      <div class="swiper-slide main1">
        <img class="main1" src="img/main_banner1.png" alt="main_banner">
        <img class="m-main1" src="img/main_mobile_banner1.png" alt="main_mobile_banner">
      </div>
      <div class="swiper-slide main1">
        <img class="main1" src="img/main_banner2.png" alt="main_banner">
        <img class="m-main1" src="img/main_mobile_banner2.png" alt="main_mobile_banner">
      </div>
      <div class="swiper-slide main1">
        <img class="main1" src="img/main_banner3.png" alt="main_banner">
        <img class="m-main1" src="img/main_mobile_banner3.png" alt="main_mobile_banner">
      </div>
      <div class="swiper-slide main1">
        <img class="main1" src="img/main_banner4.png" alt="main_banner">
        <img class="m-main1" src="img/main_mobile_banner4.png" alt="main_mobile_banner">
      </div>
    </div>
    <div class="swiper-button-next main1"></div>
    <div class="swiper-button-prev main1"></div>
    <div class="swiper-pagination"></div>
  </div>
</section>
<!--메인 section2-->
<section>
  <div class="main2-txt-wrap">
    <div class="main2-txt">
    </div>
    <div class="main2-m-txt">
      Chang Ucchin Museum of Art
    </div>
  </div>
</section>
<!-- 메인3 관람시간,관람요금,아이콘 -->
<section class="main3_wrap w1440">
  <article class="main3_list">
    <!-- 관람시간,관람요금 70%-->
    <div class="main3_list_text"> 
      <!-- 관람시간 -->
      <div class="main3_list_wrap">
        <h3>관람시간</h3>
        <ul class="main3_list1">
          <li><b>화/수/목/금/토/일</b> 10:00~ 18:00</li>
          <li><b>월/설날 및 추석 당일 휴관</b> *입장 마감은 폐관 60분 전까지</li>
        </ul>
      </div>
      <!-- 관람요금 -->
      <div class="main3_list_wrap">
        <h3>관람요금</h3>
        <ul class="main3_list2">
          <li><b>영유아 노인 제외 유료</b> 양주시민(신분증 소지자) 50%할인</li>
          <li class="main3_mobile_icon"><img src="img/phone_1440.png" alt="phoneicon"><b>문의전화</b> 031-8082-4245</li>
        </ul>
      </div>
    </div>
    <!-- 배너 30%-->
    <div class="main3_list_banner">
      <a href="#"><img src="img/call_num.png" alt="call_banner"></a>
    </div>
  </article>
  <article class="main3_icons">
    <ul>
      <li>
        <div class="main3_icon main3_icon1"><a href="/collection"></a></div>
        <div class="main3_icon_txt"><a href="/collection">소장품 안내</a></div>
      </li>
      <li>
        <div class="main3_icon main3_icon2"><a href="/space"></a></div>
        <div class="main3_icon_txt"><a href="/space">미술관 시설</a></div>
      </li>
      <li>
        <div class="main3_icon main3_icon3"><a href="/viewguide"></a></div>
        <div class="main3_icon_txt"><a href="/viewguide">관람안내</a></div>
      </li>
      <li>
        <div class="main3_icon main3_icon4"><a href="/notice-main"></a></div>
        <div class="main3_icon_txt"><a href="#">교육 프로그램</a></div>
      </li>
      <li>
        <div class="main3_icon main3_icon5"><a href="/rev_main"></a></div>
        <div class="main3_icon_txt"><a href="#">예약 하기</a></div>
      </li>
      <li>
        <div class="main3_icon main3_icon6"><a href="/map"></a></div>
        <div class="main3_icon_txt"><a href="/map">오시는 길</a></div>
      </li>
    </ul>
  </article>
</section>
<!-- 메인4 전시 -->
<section class="main4_wrap w1440">
  <!-- <h2>전시</h2> -->
  <article class="main4_exhibition_wrap">
    <div class="swiper exhibitionSwiper">
      <h2>전시</h2>
      <div class="silde_arrow">
        <ul>
          <li><a href="#" class="slide_prev"></a></li>
          <li class="exhibition_pagination"></li>
          <li><a href="#" class="slide_next"></a></li>
        </ul>
      </div>
      <div class="swiper-wrapper">
        <!-- img1 -->
        <div class="swiper-slide">
          <div class="exhibition_img">
            <a class="exhibition_img1" href="#"></a>
          </div>
          <div class="exhibition_txt_wrap">
            <div class="exhibition_btn">
              <h4 class="now_exhibition">현재전시</h4>
              <h4 class="expected_exhibition">기획전시</h4>
            </div>
            <div class="exhibition_title">
              <p>선善도 악惡도 아닌</p>
            </div>
            <div class="exhibition_day">
              <p>2022-10-12 ~ 2023-10-08</p>
            </div>
          </div>
        </div>
          <!-- img2 -->
        <div class="swiper-slide">
          <div class="exhibition_img">
            <a class="exhibition_img2" href="#"></a>
          </div>
          <div class="exhibition_txt_wrap">
            <div class="exhibition_btn">
              <h4 class="now_exhibition">현재전시</h4>
              <h4 class="expected_exhibition">상설전시</h4>
            </div>
            <div class="exhibition_title">
              <p>채움의 방식</p>
            </div>
            <div class="exhibition_day">
              <p>2022-08-17 ~ 2023-08-20</p>
            </div>
          </div>
        </div>
          <!-- img3 -->
        <div class="swiper-slide">
          <div class="exhibition_img">
            <a class="exhibition_img3" href="#"></a>
          </div>
          <div class="exhibition_txt_wrap">
            <div class="exhibition_btn">
              <h4 class="now_exhibition">현재전시</h4>
              <h4 class="expected_exhibition">기획전시</h4>
            </div>
            <div class="exhibition_title">
              <p>2023SIMPLE [비정형의 자유, 정형의 순수]</p>
            </div>
            <div class="exhibition_day">
              <p>2022-06-21 ~ 2023-09-18</p>
            </div>
          </div>
        </div>
          <!-- img4 -->
        <div class="swiper-slide">
          <div class="exhibition_img">
            <a class="exhibition_img4" href="#"></a>
          </div>
          <div class="exhibition_txt_wrap">
            <div class="exhibition_btn">
              <h4 class="now_exhibition">현재전시</h4>
              <h4 class="expected_exhibition">기획전시</h4>
            </div>
            <div class="exhibition_title">
              <p>제6회 뉴드로잉 프로젝트</p>
            </div>
            <div class="exhibition_day">
              <p>2022-03-29 ~ 2023-05-29</p>
            </div>
          </div>
        </div>
          <!-- img5 -->
        <div class="swiper-slide">
          <div class="exhibition_img">
            <a class="exhibition_img5" href="#"></a>
          </div>
          <div class="exhibition_txt_wrap">
            <div class="exhibition_btn">
              <h4 class="now_exhibition">현재전시</h4>
              <h4 class="expected_exhibition">기획전시</h4>
              <h4 class="extension_exhibition">연장운영</h4>
            </div>
            <div class="exhibition_title">
              <p>꽃이 웃고, 작작 鵲鵲 새가 노래하고</p>
            </div>
            <div class="exhibition_day">
              <p>2022-12-01 ~ 2023-02-27</p>
            </div>
          </div>
        </div>
          <!-- img6 -->
        <div class="swiper-slide">
          <div class="exhibition_img">
            <a class="exhibition_img6" href="#"></a>
          </div>
          <div class="exhibition_txt_wrap">
            <div class="exhibition_btn">
              <h4 class="now_exhibition">현재전시</h4>
              <h4 class="expected_exhibition">기획전시</h4>
            </div>
            <div class="exhibition_title">
              <p>진진묘</p>
            </div>
            <div class="exhibition_day">
              <p>2022-08-24 ~ 2023-10-24</p>
            </div>
          </div>
        </div>
          <!-- img7 -->
        <div class="swiper-slide">
          <div class="exhibition_img">
            <a class="exhibition_img7" href="#"></a>
          </div>
          <div class="exhibition_txt_wrap">
            <div class="exhibition_btn">
              <h4 class="now_exhibition">현재전시</h4>
              <h4 class="expected_exhibition">기획전시</h4>
            </div>
            <div class="exhibition_title">
              <p>장욱진 에피소드 Ⅱ</p>
            </div>
            <div class="exhibition_day">
              <p>2022-07-27 ~ 2023-07-24</p>
            </div>
          </div>
        </div>
          <!-- img8 -->
        <div class="swiper-slide">
          <div class="exhibition_img">
            <a class="exhibition_img8" href="#"></a>
          </div>
          <div class="exhibition_txt_wrap">
            <div class="exhibition_btn">
              <h4 class="now_exhibition">현재전시</h4>
              <h4 class="expected_exhibition">기획전시</h4>
            </div>
            <div class="exhibition_title">
              <p>장욱진과 아이들</p>
            </div>
            <div class="exhibition_day">
              <p>2022-05-18 ~ 2023-07-25</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
</section>
</section>
<!-- 메인5 알립니다 -->
<section class="main5_wrap w1440 pt120 pb120">
  <h2>알립니다</h2>
  <article class="main5">
    <!-- 탭파트 -->
    <div class="main5_notice_tap_wrap">
      <ul class="notice_tablist">
        <li class="notice_tablink notice_tab_active" onclick="noticeTabOpen(event,'notice_tab1')">공지</li>
        <li class="notice_tablink" onclick="noticeTabOpen(event,'notice_tab2')">교육</li>
        <li class="notice_tablink" onclick="noticeTabOpen(event,'notice_tab3')">언론보도</li>
      </ul>
      <div>
        <div id="notice_tab1" class="notice_tabcont">
          <ul class="notice_tabcont_list">
            <li>
              <div class="notice_tabcont_list_inner_box">
                <a href="#">[양주시립미술창작스튜디오] 8기 입주작가 모집</a>
                <span><a href="#">2022.11.01</a></span>
              </div>
            </li>
            <li>
              <div class="notice_tabcont_list_inner_box">
                <a href="#">양주시립장욱진미술관 VR작품여행 운영 안내</a>
                <span><a href="#">2022.10.25</a></span>
              </div>
            </li>
            <li>
              <div class="notice_tabcont_list_inner_box">
                <a href="#">양주시립장욱진미술관 VR작품여행 운영중단 안내</a>
                <span><a href="#">2022.10.08</a></span>
              </div>
            </li>
            <li>
              <div class="notice_tabcont_list_inner_box">
                <a href="#">양주시립장욱진미술관 10월 미술관 운영안내</a>
                <span><a href="#">2022.10.01</a></span>
              </div>
            </li>
            <li>
              <div class="notice_tabcont_list_inner_box">
                <a href="#">양주시립장욱진미술관 기획전시 교체에 따른 할인운영 안내</a>
                <span><a href="#">2022.09.20</a></span>
              </div>
            </li>
            <li>
              <div class="notice_tabcont_list_inner_box">
                <a href="#">양주시립장욱진미술관 9월 미술관 운영안내</a>
                <span><a href="#">2022.09.01</a></span>
              </div>
            </li>
          </ul>
        </div>
        <div id="notice_tab2" class="notice_tabcont">
          <ul class="notice_tabcont_list">
            <li>
              <div class="notice_tabcont_list_inner_box">
                <a href="#">[비대면 프로그램] 작품 앞 드로잉</a>
                <span><a href="#">2022.11.22</a></span>
              </div>
            </li>
            <li>
              <div class="notice_tabcont_list_inner_box">
                <a href="#">ACT Project <2022년 함께하기></a>
                <span><a href="#">2022.11.20</a></span>
              </div>
            </li>
            <li>
              <div class="notice_tabcont_list_inner_box">
                <a href="#">문화자원봉사자(도슨트) 특별교육</a>
                <span><a href="#">2022.10.30</a></span>
              </div>
            </li>
            <li>
              <div class="notice_tabcont_list_inner_box">
                <a href="#">[MEET UCCHIN 프로그램] 심플! 펠트가방(10/26)</a>
                <span><a href="#">2022.10.22</a></span>
              </div>
            </li>
            <li>
              <div class="notice_tabcont_list_inner_box">
                <a href="#">[기획전시 연계프로그램] 장욱진 심플! 바늘꽂이</a>
                <span><a href="#">2022.10.01</a></span>
              </div>
            </li>
            <li>
              <div class="notice_tabcont_list_inner_box">
                <a href="#">[비대면 프로그램] 작품 앞 드로잉</a>
                <span><a href="#">2022.10.03</a></span>
              </div>
            </li>
          </ul>
        </div>
        <div id="notice_tab3" class="notice_tabcont">
          <ul class="notice_tabcont_list">
            <li>
              <div class="notice_tabcont_list_inner_box">
                <a href="#">[KBS]장욱진, 곽인식, 최상철…근현대 미술 거장 한자리에</a>
                <span><a href="#">2022.11.02</a></span>
              </div>
            </li>
            <li>
              <div class="notice_tabcont_list_inner_box">
                <a href="#">[경기일보] 비정형의 자유, 정형의 순수展, 간결함의 미학</a>
                <span><a href="#">2022.10.03</a></span>
              </div>
            </li>
            <li>
              <div class="notice_tabcont_list_inner_box">
                <a href="#">[인천일보] 예술가의 아내, 예술이 되다</a>
                <span><a href="#">2022.09.14</a></span>
              </div>
            </li>
            <li>
              <div class="notice_tabcont_list_inner_box">
                <a href="#">[서울신문]화가 장욱진의 가족 사랑을 담은 양주시립장욱진미술관 상설전 ‘채움의 방식’</a>
                <span><a href="#">2022.06.02</a></span>
              </div>
            </li>
            <li>
              <div class="notice_tabcont_list_inner_box">
                <a href="#">[파이낸셜뉴스] 장욱진미술관 2기 도슨트 공모…혜택 다채</a>
                <span><a href="#">2022.14.13</a></span>
              </div>
            </li>
            <li>
              <div class="notice_tabcont_list_inner_box">
                <a href="#">[연합뉴스][여기 어때] 자연을 닮아가는 그림…양주시립장욱진미술관</a>
                <span><a href="#">2022.01.19</a></span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- 배너 파트 -->
    <div class="main5_notice_banner_wrap">
      <div class="main_notice_banner main_notice_banner1">
        <a href="#"></a>
      </div>
      <div class="main_notice_banner main_notice_banner2">
        <a href="#"></a>
      </div>
    </div>
  </article>
</section>
<!-- 메인6 소장품 -->
<section class="main6_wrap">
  <h2 class="w1440">소장품</h2>
  <article class="main6_collection_wrap">
    <!-- Swiper -->
  <div class="swiper main6_collection pt120 pb120">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <a href="#"><img src="img/gall1.png" alt="gallery"></a>
      </div>
      <div class="swiper-slide">
        <a href="#"><img src="img/gall2.png" alt="gallery"></a>
      </div>
      <div class="swiper-slide">
        <a href="#"><img src="img/gall3.png" alt="gallery"></a>
      </div>
      <div class="swiper-slide">
        <a href="#"><img src="img/gall4.png" alt="gallery"></a>
      </div>
      <div class="swiper-slide">
        <a href="#"><img src="img/gall5.png" alt="gallery"></a>
      </div>
      <div class="swiper-slide">
        <a href="#"><img src="img/gall6.png" alt="gallery"></a>
      </div>
      <div class="swiper-slide">
        <a href="#"><img src="img/gall7.png" alt="gallery"></a>
      </div>
      <div class="swiper-slide">
        <a href="#"><img src="img/gall8.png" alt="gallery"></a>
      </div>
      <div class="swiper-slide">
        <a href="#"><img src="img/gall9.png" alt="gallery"></a>
      </div>
      <div class="swiper-slide">
        <a href="#"><img src="img/gall10.png" alt="gallery"></a>
      </div>
      <div class="swiper-slide">
        <a href="#"><img src="img/gall11.png" alt="gallery"></a>
      </div>
      <div class="swiper-slide">
        <a href="#"><img src="img/gall12.png" alt="gallery"></a>
      </div>
      <div class="swiper-slide">
        <a href="#"><img src="img/gall13.png" alt="gallery"></a>
      </div>
      <div class="swiper-slide">
        <a href="#"><img src="img/gall14.png" alt="gallery"></a>
      </div>
      <div class="swiper-slide">
        <a href="#"><img src="img/gall15.png" alt="gallery"></a>
      </div>
      <div class="swiper-slide">
        <a href="#"><img src="img/gall16.png" alt="gallery"></a>
      </div>
      <div class="swiper-slide">
        <a href="#"><img src="img/gall17.png" alt="gallery"></a>
      </div>
      <div class="swiper-slide">
        <a href="#"><img src="img/gall18.png" alt="gallery"></a>
      </div>
    </div>
    <div class="swiper-scrollbar"></div>
  </div>
  </article>
</section>
  <!-- Swiper JS -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
  <script src="js/main.js"></script> -->