
  <!-- 오시는 길 -->
  <section class="map_main w1440 pb120">
    <h2 class="pt120 pb120">오시는 길</h2>
    <!-- 지도 영역 -->
    <div class="map_wrap">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3155.455821948145!2d126.94627115121163!3d37.73244927966788!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357c9564dd939809%3A0x9089414c96bf301e!2z7JaR7KO87Iuc66a9IOyepeyaseynhOuvuOyIoOq0gA!5e0!3m2!1sko!2skr!4v1669607863610!5m2!1sko!2skr" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <!-- 주소, 전화 -->
    <ul class="map_addr">
      <li>
        <p>주소</p>
        <p>경기 양주시 장흥면 권율로 193</p>
      </li>
      <li>
        <p>전화</p>
        <p>031-8082-4245</p>
      </li>
    </ul>
    <!-- 교통 안내 -->
    <article class="traffic_infor_wrap">
      <div class="traffic_infor">
        <div class="traffic_icon">
          <img src="img/bus_icon.png" alt="bus">
        </div>
        <div class="traffic_text">
          <h3>대중교통 안내</h3>
          <ul>
            <li>3호선 구파발역 2번 출구 → 360번 환승(약 30분 소요) → 장흥 정류장 하차 →15 / 19 / 19-1번 버스 환승 / 도보(약 20분 소요) → 송암천문대입구 정류장 하차 / 양주시립장욱진미술관. 장흥관광지관리사무소 정류장 하차</li>
            <li>1호선 가능역 출구 → 360번 환승(약 30분 소요) → 장흥 정류장 하차 →15/ 19 / 19-1/번 버스 환승 → 송암천문대입구 정류장 하차 / 양주시립장욱진미술관. 장흥관광지관리사무소 정류장 하차</li>
            <li class="b_60">마을버스 15-1번 (배차간격 180분) <span>기점 : 07:35~16:15 회차 : 08:55~17:55<br>
              3호선 지축역 1번 출구 → 15-1번 환승(약 20분 소요) → 송암천문대입구 정류장 하차<br>
              1호선 양주역 2번 출구 → 15-1번 환승(약 40분 소요) → 송암천문대입구 정류장 하차</span></li>
          </ul>
        </div>
      </div>
      <div class="traffic_infor">
        <div class="traffic_icon">
          <img src="img/car_icon.png" alt="bcarus">
        </div>
        <div class="traffic_text">
          <h3>승용차 이용 안내</h3>
          <ul>
            <li>서울 구파발삼거리 → 북한산성방면 우회전 371번 지방도로 10km → 고가도로(3번국도) → 농협 좌회전 → 장흥관광지</li>
            <li>강동 판교, 구리간 고속도로 → 구리방면(43번국도) → 의정부 → 39번국도 외곽순환도로 → 송추IC → 고양시방면 371번 지방도로 → 장흥관광지 우회전</li>
          </ul>
        </div>
      </div>
    </article>
  </section>
  <script src="js/map.js"></script>