<body>
  <section class="rev_onemain w1440 pb120">
    <h2 class="pt120 pb120">온라인예약/예매</h2>
    <div class="rev_head">
      <a class="onlines" href="rev_main">온라인 예매</a>
      <a class="asks" href="rev_login">예매내역 조회</a>
    </div>
  </section>
  <form
    name="rev_form"
    id="rev_form"
    method="post"
    class="rev_form w1440 pb120"
    action="/Page"
    onsubmit="return false;"
  >
    <input type="hidden" name="cmd" value="order" />
    <div class="basketdiv" id="basket">
      <div class="row head">
        <div class="subdiv">
          <div class="check">선택</div>
          <div class="img">전시</div>
          <div class="pname">전시명</div>
        </div>
        <div class="subdiv">
          <div class="basketprice">가격</div>
          <div class="num">수량</div>
          <div class="sum">합계</div>
        </div>
        <div class="subdiv">
          <div class="basketcmd">삭제</div>
        </div>
        <div class="split"></div>
      </div>

      <div class="row data">
        <div class="subdiv">
          <div class="check">
            <input
              type="checkbox"
              name="buy"
              value="260"
              checked=""
              style="background-color: #073871"
              onclick="javascript:basket.checkItem();"
            />&nbsp;
          </div>
          <div class="img"><img src="./img/bar2.jpg" width="60" /></div>
          <div class="pname">
            <span>[MEET UCCHIN 프로그램] 숲 속에서 만난 화가 장욱진</span>
          </div>
        </div>
        <div class="subdiv">
          <div class="basketprice">
            <input
              type="hidden"
              name="p_price"
              id="p_price1"
              class="p_price"
              value="20000"
            />20,000원
          </div>
          <div class="num">
            <div class="updown">
              <input
                type="text"
                name="p_num1"
                id="p_num1"
                size="2"
                maxlength="4"
                class="p_num"
                value="2"
                onkeyup="javascript:basket.changePNum(1);"
              />
              <span onclick="javascript:basket.changePNum(1);"
                ><i class="fas fa-arrow-alt-circle-up up"></i
              ></span>
              <span onclick="javascript:basket.changePNum(1);"
                ><i class="fas fa-arrow-alt-circle-down down"></i
              ></span>
            </div>
          </div>
          <div class="sum">40,000원</div>
        </div>
        <div class="subdiv">
          <div class="basketcmd">
            <a
              href="javascript:void(0)"
              class="abutton"
              onclick="javascript:basket.delItem();"
              >삭제</a
            >
          </div>
        </div>
      </div>
      <div class="row data">
        <div class="subdiv">
          <div class="check">
            <input
              type="checkbox"
              name="buy"
              value="261"
              checked=""
              onclick="javascript:basket.checkItem();"
            />&nbsp;
          </div>
          <div class="img"><img src="./img/bar4.jpg" width="60" /></div>
          <div class="pname">
            <span>채움의 방식</span>
          </div>
        </div>
        <div class="subdiv">
          <div class="basketprice">
            <input
              type="hidden"
              name="p_price"
              id="p_price2"
              class="p_price"
              value="19000"
            />19,000원
          </div>
          <div class="num">
            <div class="updown">
              <input
                type="text"
                name="p_num2"
                id="p_num2"
                size="2"
                maxlength="4"
                class="p_num"
                value="1"
                onkeyup="javascript:basket.changePNum(2);"
              />
              <span onclick="javascript:basket.changePNum(2);"
                ><i class="fas fa-arrow-alt-circle-up up"></i
              ></span>
              <span onclick="javascript:basket.changePNum(2);"
                ><i class="fas fa-arrow-alt-circle-down down"></i
              ></span>
            </div>
          </div>
          <div class="sum">19,000원</div>
        </div>
        <div class="subdiv">
          <div class="basketcmd">
            <a
              href="javascript:void(0)"
              class="abutton"
              onclick="javascript:basket.delItem();"
              >삭제</a
            >
          </div>
        </div>
      </div>
      <div class="row data">
        <div class="subdiv">
          <div class="check">
            <input
              type="checkbox"
              name="buy"
              value="262"
              checked=""
              onclick="javascript:basket.checkItem();"
            />&nbsp;
          </div>
          <div class="img">
            <img src="./img/bar1.jpg" width="60" />
          </div>
          <div class="pname">
            <span>선善도 악惡도 아닌</span>
          </div>
        </div>
        <div class="subdiv">
          <div class="basketprice">
            <input
              type="hidden"
              name="p_price"
              id="p_price3"
              class="p_price"
              value="10000"
            />10,000원
          </div>
          <div class="num">
            <div class="updown">
              <input
                type="text"
                name="p_num3"
                id="p_num3"
                size="2"
                maxlength="4"
                class="p_num"
                value="1"
                onkeyup="javascript:basket.changePNum(3);"
              />
              <span onclick="javascript:basket.changePNum(3);"
                ><i class="fas fa-arrow-alt-circle-up up"></i
              ></span>
              <span onclick="javascript:basket.changePNum(3);"
                ><i class="fas fa-arrow-alt-circle-down down"></i
              ></span>
            </div>
          </div>
          <div class="sum">10,000원</div>
        </div>
        <div class="subdiv">
          <div class="basketcmd">
            <a
              href="javascript:void(0)"
              class="abutton"
              onclick="javascript:basket.delItem();"
              >삭제</a
            >
          </div>
        </div>
      </div>
    </div>

    <div class="right-align basketrowcmd">
      <a
        href="javascript:void(0)"
        class="abutton"
        onclick="javascript:basket.delCheckedItem();"
        >선택상품삭제</a
      >
      <a
        href="javascript:void(0)"
        class="abutton"
        onclick="javascript:basket.delAllItem();"
        >장바구니비우기</a
      >
    </div>

    <div class="bigtext right-align sumcount" id="sum_p_num">
      예매한 전시: 3개
    </div>
    <div class="bigtext right-align box blue summoney" id="sum_p_price">
      합계금액: 69,000원
    </div>

    <div id="goorder" class="">
      <div class="clear"></div>
      <div class="buttongroup center-align cmd">
        <a href="/">예약확인</a>
      </div>
    </div>
  </form>
  <script src="js/rev_check.js"></script>
</body>
