<body>
  <section class="rev_onemain w1440 pb120">
    <h2 class="pt120 pb120">온라인예약/예매</h2>
    <div class="rev_head">
      <a class="onlines" href="rev_main">온라인 예매</a>
      <a class="asks" href="rev_login">예매내역 조회</a>
    </div>
  </section>
  <section class="rev_loginMain pb120">
    <div class="rev_login_title">
      <h2 class="titi">LOGIN</h2>
      <p>
        장욱진미술관 온라인 예약·예매 서비스 입니다<br />
        회원은 로그인 후 예약·예매를 진행해주세요.
      </p>
    </div>
    <div class="login_case">
      <div class="btn_box">
        <div class="_btn-black">회원</div>
        <div class="_btn-white">비회원</div>
      </div>
      <div data-gd-cell="3" data-tab-detail="1"></div>
      <form action="rev_login" id="loginForm" method="post">
        <div class="member_case">
          <input
            type="text"
            id="memberid"
            name="idd"
            placeholder="아이디를 입력해주세요"
          />
          <input
            type="password"
            id="memberid"
            name="pwd"
            placeholder="비밀번호를 입력해주세요"
          />
          <button type="submit">로그인</button>
        </div>
      </form>
      <div class="join_jum"><a href="/rev_join">회원가입</a></div>
    </div>
  </section>
</body>
