<body>
  <section class="rev_onemain w1440 pb120">
    <h2 class="pt120 pb120">온라인예약/예매</h2>
    <div class="rev_head">
      <a class="online" href="">온라인 예매</a>
      <a class="ask" href="rev_login">예매내역 조회</a>
    </div>
  </section>
  <section class="rev_mainones pb120">
    <div class="swiper mySwiperd wp100">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="fix_bars">
            <div class="fix_img"></div>
            <div class="fix_name">
              <span><교육></span>[ MEET UCCHIN 프로그램 ]<br />
              숲 속에서 만난 화가 장욱진
            </div>
            <p><strong>체험기간</strong> 2022-08-17 ~ 2023-08-20</p>
            <p><strong>장소</strong> 양주시립장욱진 미술관 전시실</p>
            <p>
              <strong>수강대상</strong>아동 &nbsp &nbsp &nbsp &nbsp;<strong
                >정원</strong
              >
              30명
            </p>
            <p><strong>작가</strong> 장욱진</p>
            <div class="fix_btn">
              <a href="" class="fix_btnf">자세히보기</a>
              <a class="fix_btnt">선택</a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="fix_bar2">
            <div class="fix_img2"></div>
            <div class="fix_name"><span><전시></span> 선善도 악惡도 아닌</div>
            <p><strong>전시기간</strong> 2022-10-12 ~ 2023-01-08</p>
            <p><strong>전시장소</strong> 양주시립장욱진 1층기획전시실</p>
            <p><strong>참여작가</strong>장욱진,곽인식,최상철</p>
            <p><strong>관람료</strong> 5000원</p>
            <div class="fix_btn">
              <a href="" class="fix_btnf">자세히보기</a>
              <a href="" class="fix_btnt">선택</a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="fix_bar3">
            <div class="fix_img3"></div>
            <div class="fix_name"><span><전시></span> 채움의방식</div>
            <p><strong>전시기간</strong> 2022-08-17 ~ 2023-08-20</p>
            <p><strong>전시장소</strong> 양주시립장욱진 미술관2층 상설전시실</p>
            <p><strong>참여작가</strong>장욱진</p>
            <p><strong>관람료</strong>5000</p>
            <div class="fix_btn">
              <a href="" class="fix_btnf">자세히보기</a>
              <a href="" class="fix_btnt">선택</a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="fix_bar4">
            <div class="fix_img4"></div>
            <div class="fix_name">
              <span><교육></span>[ MEET UCCHIN 프로그램 ]<br />
              쓱싹쓱싹 심플 드로잉
            </div>
            <p><strong>체험기간</strong> 2022-08-17 ~ 2023-08-20</p>
            <p><strong>장소</strong> 양주시립장욱진 미술관 야외</p>
            <p>
              <strong>수강대상</strong>아동 &nbsp &nbsp &nbsp &nbsp;<strong
                >정원</strong
              >
              15명
            </p>
            <p><strong>작가</strong> 장욱진</p>
            <div class="fix_btn">
              <a href="" class="fix_btnf">자세히보기</a>
              <a href="" class="fix_btnt">선택</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="rev_main_bot">
      <div><a href="/rev_Detail">예매</a></div>
      <span>관람을 원하는 전시를 선택해주세요</span>
    </div>
  </section>

  <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
  <script src="js/rev_main.js"></script>
</body>
