
  <!-- 공간소개 -->
  <section class="space_main w1440 pb120">
    <h2 class="pt120 pb120">공간소개</h2>
    <!-- 미술관시설 텍스트박스 -->
    <div class="facility_text">
      <h3>미술관 시설</h3>
      <p>위치 : 경기도 양주시 장흥면 권율로 193</p>
      <p>대지 : 6,204m²</p>
      <p>연면적 : 1,852m²</p>
    </div>
    <!-- 미술관시설 층별 지도-->
    <article class="floor_map_wrap">
      <!-- 지하1층 -->
      <div class="floor_map1">
        <div class="floor_num_box">
          <h3>B1층</h3>
        </div>
        <div class="floor_imgs">
          <!-- 지도 이미지 -->
          <div class="floor_img floor_img1"></div>
          <!-- 지도 위치 넘버 -->
          <div class="floor_img_area_num area_num1">
            <ul>
              <li><span>1</span>강의실</li> 
              <li><span>2</span>화장실</li>
            </ul>
          </div>
        </div>
      </div>
      <!-- 1층 -->
      <div class="floor_map2">
        <div class="floor_num_box">
          <h3>1층</h3>
        </div>
        <div class="floor_imgs">
          <!-- 지도 이미지 -->
          <div class="floor_img floor_img2"></div>
          <!-- 지도 위치 넘버 -->
          <div class="floor_img_area_num area_num2">
            <ul>
              <li><span>1</span>전시실</li> 
              <li><span>2</span>아트숍</li>
              <li><span>3</span>안내</li>
              <li><span>4</span>카페</li>
              <li><span>5</span>화장실(남자,여자)</li>
            </ul>
          </div>
        </div>
      </div>
      <!-- 2층 -->
      <div class="floor_map3">
        <div class="floor_num_box">
          <h3>2층</h3>
        </div>
        <div class="floor_imgs">
          <!-- 지도 이미지 -->
          <div class="floor_img floor_img3"></div>
          <!-- 지도 위치 넘버 -->
          <div class="floor_img_area_num area_num3">
            <ul>
              <li><span>1</span>전시실 2-5</li> 
              <li><span>2</span>영상실</li>
              <li><span>3</span>사무실</li>
              <li><span>4</span>여자 화장실</li>
            </ul>
          </div>
        </div>
      </div>
    </article>
    <!-- 미술관대관안내 텍스트박스 -->
    <div class="rental_text">
      <h3>미술관 대관안내</h3>
      <!-- 강의실 -->
      <div class="lecture_room">
        <p>강의실(127.8㎡)</p>
        <ul class="rental_manu">
          <li>1일 1실 (4시간 기준) 150,000원</li>
          <li>50명 이하 수용 가능</li>
          <li>냉·난방비포함</li>
        </ul>
        <span class="rental_manu_noti">초과사용 시 가산 : 1시간 초과 시마다 해당 사용료의 100분의 25 가산</span>
      </div>
      <!-- 전시실 -->
      <div class="exhibition_room">
        <p>전시실</p>
        <ul class="rental_manu">
          <li>1일 (8시간 기준) ㎡당 300원</li>
          <li>기획전시가 없을 시 대관 가능</li>
          <li>냉·난방비포함</li>
        </ul>
        <span class="rental_manu_noti">초과사용 시 가산 : 1시간 초과 시마다 해당 사용료의 100분의 25 가산</span>
      </div>
      
    </div>
  </section>
  <script src="js/space.js"></script>