
  <!-- 관람안내 -->
  <section class="viewguide_main w1440 pb120">
    <h2 class="pt120 pb120">관람안내</h2>
    <!-- 관람시간 휴관일 단체관람 -->
    <article class="view_category">
      <div class="view_time">
        <h3>관람시간</h3>
        <ul class="view_time_list">
          <li class="first_list">오전10시 ~ 오후6시</li>
          <li class="view_notice_txt_list"><span></span>관람시간 종료 1시간 전까지 발권 가능 합니다</li>
          <li class="view_notice_txt_list"><span></span>관람시간 종료 1시간 전까지 입장 가능 합니다</li>
        </ul>
      </div>
      <div class="view_closed">
        <h3>휴관일</h3>
        <ul class="view_closed_list">
          <li class="first_list">매주 월요일과 1월 1일, 설날 및 추석</li>
          <li class="view_notice_txt_list"><span></span>설날 및 추석 당일만 휴관합니다.</li>
        </ul>
      </div>
      <div class="group_view">
        <h3>단체관람</h3>
        <ul class="group_view_list">
          <li class="first_list">20인 이상 단체관람시 사전접수</li>
          <li class="view_notice_txt_list"><span></span>(문의 : 031-8082-4245)</li>
        </ul>
      </div>
    </article>
    
    <!-- 입장요금 -->
    <div class="admission_fee_wrap">
      <h3>입장요금</h3>
      <!-- 입장요금표 -->
      <table class="admission_fee_table">
        <thead>
          <tr>
            <th rowspan="2">구분</th>
            <th colspan="2">금액</th>
            <!-- <th>금액2</th> -->
            <th rowspan="2">비고</th>
          </tr>
          <tr class="admission_fee_second_tr">
            <!-- <th>구분</th> -->
            <th>개인</th>
            <th>단체<br><span class="admission_fee_none">(20명이상)</span></th>
            <!-- <th>비고</th> -->
          </tr>
        </thead>
        <tbody>
          <tr class="admission_fee_second_tr">
            <td>어른</td>
            <td>5,000원</td>
            <td>3,500원</td>
            <td>19세 이상 <br class="admission_fee_br">~ 65세 미만</td>
          </tr>
          <tr class="admission_fee_second_tr">
            <td>청소년 및 군인</td>
            <td>1,000원</td>
            <td>700원</td>
            <td>14세 이상 ~ 18세 이하 및<br class="admission_fee_br"> 하사 이하 군인</td>
          </tr>
          <tr class="admission_fee_second_tr">
            <td>어린이</td>
            <td>1,000원</td>
            <td>700원</td>
            <td>8세 이상 <br class="admission_fee_br">~ 13세 이하</td>
          </tr>
          <tr class="admission_fee_second_tr">
            <td>영유아</td>
            <td>무료</td>
            <td>무료</td>
            <td>7세 이하</td>
          </tr>
          <tr class="admission_fee_second_tr">
            <td>노인</td>
            <td>무료</td>
            <td>무료</td>
            <td>65세 이상</td>
          </tr>
        </tbody>
      </table>
      <!-- 입장요금 안내사항 -->
      <div class="admission_fee_guide">
        <p>양주시민(신분증 소지자) 50%할인</p>
        <p>국가유공자, 장애인복지법에 따라 등록된 1-3등급 장애인 및 동행 보호자 등은 증명서 또는 증서를 매표소에 제시할 경우 관람료 면제
          <br>[운영조례 제8조 관련 내용에 따름]</p>
        <p>단체 인솔교사 입장요금 무료</p>
      </div>
    </div>

    <!-- 관람시 유의사항 -->
    <div class="viewing_notice_wrap">
      <h3>관람시 유의사항</h3>
      <ul class="viewing_notice_list">
        <li>전시 관람시 질서를 유지하지 위하여 다음사항을 준수하여 주시기 바랍니다.</li>
        <li>부피가 큰 소지품은 보관함을 이용해주십시오.</li>
        <li>전시실 입장 전에, 휴대전화는 전원을 꺼주시거나 진동/무음으로 전환하여 주십시오.</li>
        <li>기본적으로 사진 촬영을 금합니다.</li>
        <li>음식물 반입과 안내견 이외의 애완동물의 출입은 금지되어 있습니다.</li>
        <li>작품보호선을 지켜주십시오.</li>
      </ul>
    </div>
  </section>